<div *ngIf="adventures.length > 0">
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let adventure of adventures">
        <td>{{ adventure.id }}</td>
        <td>{{ adventure.name }}</td>
        <td>
          <a routerLink="/adventure-edit/{{adventure.id}}" type="button" class="btn btn-dark me-2">Edit</a>
          <a type="button" class="btn btn-dark">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="adventures.length == 0">
  <span>no adventures, click 'new adventure' to create your first adventure.</span>
</div>
