<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <app-adventure-creator-sidebar
        [location]="sidebarLocation"
        (sidebarLocationChange)="updateSidebarLocation($event)">
      </app-adventure-creator-sidebar>
    </div>
    <div class="col py-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/adventure">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Creator</li>
        </ol>
      </nav>
      <div *ngIf="sidebarLocation === 'adventures'">
        <h1>Your Adventures</h1>
        <app-adventures-table [tableType]="adventureTableType"></app-adventures-table>
      </div>
      <div *ngIf="sidebarLocation === 'new_adventure'">
        <app-adventure-new (sidebarLocationChange)="updateSidebarLocation($event)"></app-adventure-new>
      </div>
    </div>
  </div>
</div>
