<div class="card">
  <div class="card-header">
    <h3>Edit Location</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="locationForm" (ngSubmit)="updateLocation()">
      <div class="form-floating">
        <input type="text" class="form-control" id="name" formControlName="name">
        <label for="name">Location Name:</label>
      </div>
      <div class="mt-2">
        <input type="checkbox" class="btn-check" id="initial" formControlName="initial" autocomplete="off">
        <label class="btn btn-outline-dark" for="initial">Initial</label><br>
      </div>
      <app-adventure-details-source-edit [source]="locationForm.get('source')"></app-adventure-details-source-edit>
      <button type="submit" class="btn btn-dark float-end mt-2 me-2" [disabled]="!locationForm.valid">Update</button>
    </form>
  </div>
</div>


<div class="card mt-5">
  <div class="card-header">
    <span class="h3">Edit Routes</span>
    <button class="btn btn-dark float-end me-2"><span class="bi-plus"></span>Add Route</button>
  </div>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5>Route Name One</h5>
      </div>
      <div class="card-body">
        <form class="form-floating">
          <input type="text" class="form-control" id="route-name" placeholder="route name">
          <label for="name">Route Name:</label>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5>Route Name Two</h5>
      </div>
      <div class="card-body">
        <form class="form-floating">
          <input type="text" class="form-control" id="route-name" placeholder="route name">
          <label for="name">Route Name:</label>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


