<div class="mb-3 float-end">
  <a (click)="newRoute()" type="button" class="btn btn-dark">New Route</a>
</div>
<div *ngIf="routes.length > 0">
  <table datatable class="row-border hover">
    <thead>
    <tr>
      <th>name</th>
      <th>location</th>
      <th>destination</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let route of routes">
      <td>{{ route.name }}</td>
      <td>{{ locationMap.get(route.locationId) ? locationMap.get(route.locationId).name : '' }}</td>
      <td>{{ locationMap.get(route.destinationLocationId) ? locationMap.get(route.destinationLocationId).name : '' }}</td>
      <td class="text-end">
        <a (click)="updateRoute(route)" type="button" class="btn btn-dark mx-2">Edit</a>
        <a (click)="deleteRoute(route)" type="button" class="btn btn-dark mx-2">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="routes.length === 0">
  No Routes Exist
</div>

