<nav class="m-1" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/adventure-explorer">Home</a></li>
    <li *ngIf="adventure" class="breadcrumb-item">{{adventure.name}}</li>
  </ol>
</nav>
<div class="m-5">
  <div class="game-error" *ngIf="isGameError">
    An error occurred while loading or starting your game!
  </div>
  <div class="game-content">
    <app-content [game]="game"></app-content>
  </div>
  <br>
  <div class="game-content">
    <app-movement [game]="game"></app-movement>
  </div>
</div>
