<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <app-adventure-details-sidebar
        [location]="sidebarLocation"
        (sidebarLocationChange)="updateSidebarLocation($event)">
      </app-adventure-details-sidebar>
    </div>
    <div class="col py-3">
      <app-adventure-details-breadcrumbs
        [adventure]="adventure"
        [location]="location"
        [sidebarLocation]="sidebarLocation"
        (sidebarLocationChange)="updateSidebarLocation($event)"
      >
      </app-adventure-details-breadcrumbs>
      <div *ngIf="sidebarLocation === 'home'">
        <app-adventure-details-home [adventure]="adventure"></app-adventure-details-home>
      </div>
      <div *ngIf="sidebarLocation === 'locations'">
        <app-adventure-details-locations
          [adventure]="adventure"
          (sidebarLocationChange)="updateSidebarLocation($event)"
          (adventureLocationChange)="updateAdventureLocation($event)"
        >
        </app-adventure-details-locations>
      </div>
      <div *ngIf="sidebarLocation === 'location-edit'">
        <app-adventure-details-location-edit [location]="location"></app-adventure-details-location-edit>
      </div>
      <div *ngIf="sidebarLocation === 'adventure-edit'">
        <app-adventure-edit [adventure]="adventure" (editAdventureChange)="updateAdventureEdit($event)"></app-adventure-edit>
      </div>
      <div *ngIf="sidebarLocation === 'games'">
        <app-ad-games [adventure]="adventure"
                      (sidebarLocationChange)="updateSidebarLocation($event)"
                      (adventureGameChange)="updateAdventureGame($event)"
        ></app-ad-games>
      </div>
      <div *ngIf="sidebarLocation === 'game-edit'">
        <app-ad-game-edit [game]="game" [adventure]="adventure"></app-ad-game-edit>
      </div>
      <div *ngIf="sidebarLocation === 'scripts'">
        <app-ad-scripts
          [adventure]="adventure"
          (sidebarLocationChange)="updateSidebarLocation($event)"
          (adventureScriptChange)="updateAdventureScript($event)"
          (adventureScriptsChange)="updateAdventureScripts($event)"
        ></app-ad-scripts>
      </div>
      <div *ngIf="sidebarLocation === 'script-edit'">
        <app-ad-script-edit [script]="script" [scripts]="scripts"></app-ad-script-edit>
      </div>
      <div *ngIf="sidebarLocation === 'routes'">
        <app-ad-routes
          [adventure]="adventure"
          (sidebarLocationChange)="updateSidebarLocation($event)"
          (adventureRouteChange)="updateAdventureRoute($event)"
        ></app-ad-routes>
      </div>
      <div *ngIf="sidebarLocation === 'route-edit'">
        <app-ad-route-edit [route]="route" [adventure]="adventure"></app-ad-route-edit>
      </div>
      <div *ngIf="sidebarLocation === 'sources'">
        <app-ad-sources [adventure]="adventure"
                        (sidebarLocationChange)="updateSidebarLocation($event)"
                        (adventureSourceChange)="updateAdventureSource($event)"
        ></app-ad-sources>
      </div>
      <div *ngIf="sidebarLocation === 'source-edit'">
        <app-ad-source-edit-full [source]="source"></app-ad-source-edit-full>
      </div>
      <div *ngIf="sidebarLocation === 'objects'">
        <app-ad-objects [adventure]="adventure"></app-ad-objects>
      </div>
    </div>
  </div>
</div>
