<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <app-adventure-details-sidebar
        [location]="sidebarLocation"
        (sidebarLocationChange)="updateSidebarLocation($event)">
      </app-adventure-details-sidebar>
    </div>
    <div class="col py-3">
      <app-adventure-details-breadcrumbs
        [adventure]="adventure"
        [location]="location"
        [sidebarLocation]="sidebarLocation"
        (sidebarLocationChange)="updateSidebarLocation($event)"
      >
      </app-adventure-details-breadcrumbs>
      <div *ngIf="sidebarLocation === 'home'">
        <app-adventure-details-home [adventure]="adventure"></app-adventure-details-home>
      </div>
      <div *ngIf="sidebarLocation === 'locations'">
        <app-adventure-details-locations
          [adventure]="adventure"
          (sidebarLocationChange)="updateSidebarLocation($event)"
          (adventureLocationChange)="updateAdventureLocation($event)"
        >
        </app-adventure-details-locations>
      </div>
      <div *ngIf="sidebarLocation === 'location-edit'">
        <app-adventure-details-location-edit [location]="location"></app-adventure-details-location-edit>
      </div>
      <div *ngIf="sidebarLocation === 'adventure-edit'">
        <app-adventure-edit [adventure]="adventure" (editAdventureChange)="updateAdventureEdit($event)"></app-adventure-edit>
      </div>
      <div *ngIf="sidebarLocation === 'games'">
        <app-ad-games></app-ad-games>
      </div>
    </div>
  </div>
</div>
