<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <app-adventure-details-sidebar [location]="location" (locationChange)="updateLocation($event)"></app-adventure-details-sidebar>
    </div>
    <div class="col py-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/adventure">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/adventure-creator">Creator</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{adventure.name}}</li>
        </ol>
      </nav>
      <div *ngIf="location === 'home'">
        <app-adventure-details-home [adventure]="adventure"></app-adventure-details-home>
      </div>
      <div *ngIf="location === 'locations'">
        <app-adventure-details-locations></app-adventure-details-locations>
      </div>
    </div>
  </div>
</div>
