<div *ngIf="games.length > 0">
  <table datatable class="row-border hover">
    <thead>
    <tr>
      <th>id</th>
      <th>user email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of games">
      <td>{{ game.game.id }}</td>
      <td>{{ game.user.email }}</td>
      <td class="text-end">
        <a (click)="deleteGame(game.game)" type="button" class="btn btn-dark mx-2">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="games.length === 0">
  No Games Exist
</div>
