<div class="row align-items-center g-lg-5 py-5 landing-component">
  <div class="col-lg-7 text-center text-lg-start">
    <h1 class="display-4 fw-bold lh-1 mb-3">Text-based single-player role-playing game</h1>
    <p class="col-lg-10 fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean turpis sapien, sollicitudin id varius quis, congue et lorem. Etiam egestas nibh eget nulla venenatis ultricies. Duis urna arcu, blandit a leo in, condimentum fermentum sapien. Vivamus volutpat diam ac eros pulvinar, et ultricies ante vehicula. Duis in nibh quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut mi ante, cursus non ex pellentesque, auctor lobortis lorem. Fusce sed risus pulvinar, lobortis arcu vel, consequat dui. Mauris ac ultricies turpis.</p>
  </div>
  <div class="col-md-10 mx-auto col-lg-5">
    <app-login></app-login>
  </div>
</div>

<div class="align-items-center g-lg-5 py-5 landing-component">
  <h2 class="pb-2 border-bottom">Hanging icons</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
      </div>
      <div>
        <h2>Featured title</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-dark">
          Primary button
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
      </div>
      <div>
        <h2>Featured title</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-dark">
          Primary button
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
      </div>
      <div>
        <h2>Featured title</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-dark">
          Primary button
        </a>
      </div>
    </div>
  </div>
</div>

