<div class="row align-items-center g-lg-5 py-5 landing-component">
  <div class="col-lg-7 text-center text-lg-start">
    <h1 class="display-4 fw-bold lh-1 mb-3">Text-based single-player role-playing game</h1>
    <p class="col-lg-10 fs-4">Welcome to TbspRpg, where you'll experience epic adventure from the comfort of your
      web browser.  Currently we can use the site to create basic branching stories, and we're working hard to add
      exciting features.  Features such as, tactical combat, interesting choices that can impact the story,
      deep role-playing, and offline play.
      Register to stay updated!</p>
  </div>
  <div class="col-md-10 mx-auto col-lg-5">
    <app-login></app-login>
  </div>
</div>

<div class="align-items-center g-lg-5 py-5 landing-component">
  <h2 class="pb-2 border-bottom">Features</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
      </div>
      <div>
        <h2>Browser Based</h2>
        <p>Experience adventure where ever you have a browser.  Your game is saved, so you can pick up where you
        left off from any device.</p>
<!--        <a href="#" class="btn btn-dark">-->
<!--          Primary button-->
<!--        </a>-->
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
      </div>
      <div>
        <h2>Deep Role-Playing (Eventually...)</h2>
        <p>Explore deep complex worlds!  Since the games are text based we'll be able to quickly create reactive
        and interesting experiences. (Eventually...)</p>
<!--        <a href="#" class="btn btn-dark">-->
<!--          Primary button-->
<!--        </a>-->
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
      </div>
      <div>
        <h2>Create Your Own (Eventually...)</h2>
        <p>Once the web interface is finalized and more features have been completed, we'll allow users to
        create their own adventures to share with the world.</p>
<!--        <a href="#" class="btn btn-dark">-->
<!--          Primary button-->
<!--        </a>-->
      </div>
    </div>
  </div>
</div>

