<div class="card">
  <div class="card-header">
    <h3>Edit Location</h3>
  </div>
  <div class="card-body" *ngIf="locationForm">
    <form [formGroup]="locationForm" (ngSubmit)="updateLocation()">
      <div formGroupName="location">
        <div class="form-floating">
          <input type="text" class="form-control" id="name" formControlName="name">
          <label for="name">Location Name:</label>
        </div>
        <div class="mt-2">
          <input type="checkbox" class="btn-check" id="initial" formControlName="initial" autocomplete="off">
          <label class="btn btn-outline-dark" for="initial">Initial</label><br>
        </div>
        <div class="mt-2">
          <input type="checkbox" class="btn-check" id="final" formControlName="final" autocomplete="off">
          <label class="btn btn-outline-dark" for="final">Final</label><br>
        </div>
      </div>
      <app-adventure-details-source-edit [form]="locationForm" [label]="sourceLabel"></app-adventure-details-source-edit>
      <button type="submit" class="btn btn-dark float-end mt-2 me-2" [disabled]="!locationForm.valid">Update</button>
    </form>
  </div>
</div>

<app-adventure-details-routes-edit [location]="location"></app-adventure-details-routes-edit>
