<div>
<!--  <form (ngSubmit)="updateAdventure()" [formGroup]="adventureForm">-->
  <form [formGroup]="adventureForm">
    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name">
    <br>
    <button type="submit" [disabled]="!adventureForm.valid">update</button>
  </form>
</div>

<p>button to create a new location</p>
<p>table with locations in the adventure, button to edit button to delete</p>

<p>button to play in a debug mode?</p>
<p>button/link to see all of the sources for this adventure</p>
