<div *ngIf="locations.length > 0">
  <table datatable class="row-border hover">
    <thead>
    <tr>
      <th>id</th>
      <th>name (initial?)</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr routerLink="/adventure-details/{{location.id}}"
        style="cursor: pointer;" *ngFor="let location of locations">
      <td>{{ location.id }}</td>
      <td>{{ location.name }} <i *ngIf="location.initial" class="fs-4 bi-star-fill"></i></td>
      <td class="text-end">
        <a (click)="updateLocations(location)"
           type="button" class="btn btn-dark">Edit</a>
        <a type="button" class="btn btn-dark mx-2">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
