<h1>
  {{adventure.name}}
</h1>
<h6 class="text-muted">Published: 09/15/21</h6>
<small class="text-muted">{{adventure.id}}</small>

<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h3 class="card-title">Statistics</h3>
    <p class="card-text">Players: 1</p>
    <p class="card-text">Last Week: 1</p>
    <p class="card-text">Completed: 1</p>
  </div>
</div>

<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h3 class="card-title">Actions</h3>
    <p class="card-text">Debug</p>
    <p class="card-text">Play</p>
    <p class="card-text">Publish</p>
    <p class="card-text">Share</p>
  </div>
</div>

