<div class="card mt-5">
  <div class="card-header">
    <span class="h3">Edit Routes</span>
    <button class="btn btn-dark float-end me-2"><span class="bi-plus"></span>Add Route</button>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 ms-2">
    <form [formGroup]="routesForm" (submit)="updateRoutes()">
      <div *ngFor="let route of routes; let i = index" [formGroup]="routesForm.at(i)" class="col">
        <div class="card">
          <div class="card-header">
            <h5>{{route.name}} {{i}}</h5>
          </div>
          <div class="card-body">
            <form class="form-floating">
              <input type="text" class="form-control" id="name" formControlName="name">
              <label for="name">Route Name:</label>
            </form>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
