<div class="card mt-5">
  <div class="card-header">
    <span class="h3">Edit Routes</span>
    <button class="btn btn-dark float-end me-2"><span class="bi-plus"></span>Add Route</button>
  </div>
  <div class="row row-cols-1 row-cols-md-2 m-3">
    <div *ngFor="let route of routes; let i = index" class="col">
      <form [formGroup]="routesFormArray[i]">
        <div formGroupName="route">
          <div class="card">
            <div class="card-header">
              <h5>{{route.name}}</h5>
            </div>
            <div class="card-body form-floating">
              <input type="text" class="form-control" id="name" formControlName="name">
              <label for="name">Route Name:</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
