<button [hidden]="true" id="openVerifyRegistrationModal" data-bs-toggle="modal" data-bs-target="#registerVerifyModal">om</button>
<div class="modal fade" id="registerVerifyModal"
     data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Verify Registration</h5>
      </div>
      <form class="border rounded-3 bg-light" (ngSubmit)="verify()" [formGroup]="verificationForm" appPasswordValidator>
        <div class="modal-body">
          <div class="mb-3" *ngIf="verificationFailed">
            Please check your code and try again.
          </div>
          <div class="mb-3" *ngIf="codeResent">
            A new code has been sent to your email address, please enter the new code.
          </div>
          <div class="mb-3" *ngIf="codeResendFailed">
            We could not send you a new registration code, try again later.
          </div>
          <div class="mb-3">Please enter the code that was sent to the given email address to verify your account.</div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control"
                   id="floatingInput"
                   formControlName="code"
                   placeholder="Registration Code"
                   [ngClass]="{'is-invalid': codeInvalid()}">
            <label for="floatingInput">Registration Code</label>
            <div class="invalid-feedback">
              <span *ngIf="code.errors?.['required']">Please enter your registration code.</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [hidden]="true" id="closeVerifyRegistrationModal" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-dark" (click)="resendCode()">Re-Send Code</button>
          <button type="submit" class="btn btn-dark" [disabled]="!this.verificationForm.valid">Verify</button>
        </div>
      </form>
    </div>
  </div>
</div>
