<app-toolbar></app-toolbar>
<div>
        <p>Enter your email</p>
        <input placeholder="pat@example.com" required>
    <br>
        <p>Enter your password</p>
        <input [type]="hide ? 'password' : 'text'">
        <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <p>{{hide ? 'visibility_off' : 'visibility'}}</p>
        </button>
    <br>
    <button (click)="register()">register</button>
</div>
<p>Or authenticate with Google</p>
  
